main{
    position: absolute;
    height: 115%;
    width: 100%;
    background-color: #141414;
}

header .title h2 {
    color: #FFF;
    text-align: center;
    font-family: barlow;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

header .title h2 span{
    font-weight: 300;
}

.section{
    position: relative;
    left: 10%;
    top: 20%;
    height: 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section .countrie{
    position: relative;
    width: 20%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}

.section .countrie:hover h2{
    top: 35%;
    letter-spacing: 1px;
}

.countrie h2{
    position: absolute;
    /* top: 35%; */
    top: -30%;
    color: white;
    font-size: 25px;
    z-index: 1;
    width: 100%;
    text-align: center;
    font-family: bebas-neue;
    font-weight: 200;
    transition: .2s ease-in-out;
}

.countrie img{
    width: 100%;
    height: 100%;
    opacity: 0.6;
    transition: .2s ease-in-out;
}

.section .countrie:hover img{
    opacity: 0.9;
}

#map { 
    height: 400px;
    width: 800px; 
    position: absolute;
    left: 20%;
    top: 40%;
}